body {
    font-family: Arial, sans-serif;
    background: #dcdcdc;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    margin: 0;
}

.login-box {
    background: rgba(255, 255, 255, 0.3);
    padding: 30px 30px;
    width: 300px;

    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.login-box h2 {
    text-align: center;
}

.login-box input {
    width: 92%;
    padding: 10px;
    margin: 10px 0;

    border: 1px solid #353535;
    border-radius: 10px;
}

.login-btn {
    width: 100%;
    padding: 10px;
    margin: 5px 0;

    background: #3999d1;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 10px;

    cursor: pointer;
}
.login-btn:hover {
    background: #b0efff;

}
.Signup-btn {
    width: 100%;
    padding: 10px;
    margin: 5px 0;

    background: rgba(255, 255, 255, 0.3);
    color: rgb(0, 0, 0);
    border: 1px solid rgb(0, 76, 86);
    border-radius: 10px;

    cursor: pointer;
}
.Signup-btn:hover {
    background: #b0efff;

}

.forget-btn {
    width: 100%;
    padding: 0px;
    margin: 5px 0;

    background: rgba(255, 255, 255, 0);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;

    cursor: pointer;
}
.forget-btn:hover {
    color: #ff0000;

}
